*{
    margin: 0;
    padding:0;
}
.output{
   
   
    div{
        margin: .5rem;
        background-color: wheat;
        padding: .5rem;
        white-space: pre-wrap;
        word-break: break-all;
    }
}
.input{
    display: flex;
    justify-content: center;

    textarea{
        width: 83%;
        padding: 1rem;
        background-color: whitesmoke;
    }

}
.length{
    display: flex;
    justify-content: center;
    margin: 1rem;
   
}

